# Virtual Environment
.venv/
myenv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# OS
.DS_Store
Thumbs.db